<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DeepShield AI</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: "#00E5FF",
                        secondary: "#7B61FF",
                        dark: "#060816",
                        card: "rgba(255,255,255,0.05)"
                    }
                }
            }
        }
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- Particle Background -->
    <div id="particles-js"></div>

    <!-- Floating Blobs -->
    <div class="blob blob1"></div>
    <div class="blob blob2"></div>
    <div class="blob blob3"></div>

    <!-- NAVBAR -->

    <nav class="navbar glass">

        <div class="logo">
            DeepShield AI
        </div>

        <ul class="nav-links">

            <li>
                <a href="{{ url_for('home') }}">
                    Home
                </a>
            </li>

            <li>
                <a href="{{ url_for('detect') }}">
                    Detector
                </a>
            </li>

        </ul>

        <a href="{{ url_for('detect') }}" class="launch-btn">
            Launch Detection
        </a>

    </nav>

    <main>

        {% block content %}
        {% endblock %}

    </main>

    <footer>

        <h3>DeepShield AI</h3>

        <p>
            Protecting Digital Trust Through Artificial Intelligence
        </p>

        <p>
            © 2026 DeepShield AI
        </p>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>